.hero_header--section {
  background-image: url(/public/Images/HeroBackground.png);
  background-position: top;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
}
@media screen and (min-width :  1000px) {
  .hero_header--section {
    background-size: cover;
  }
}

/* :root {
    --primary-color: #8761a8;
    --secondary-color: #ffffff;
    --title-color: #51475a;
    --text-color: #808080;
  } */

/* تغییر عرض اسکرول‌بار */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar {
  width: 12px;
}

/* تغییر استایل پس‌زمینه اسکرول‌بار */
::-webkit-scrollbar-track {
  background: #8761a8;
}

/* تغییر استایل خود اسکرول */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 6px;
}

/* تغییر استایل هنگام هاور کردن روی اسکرول */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--text-color); */
  cursor: grab;
}
.topicBox {
  max-width: 450px;
}

.topic-styles__before::before {
  content: "";
  position: absolute;
  right: -53px;
  bottom: 8px;
  width: 46px;
  height: 3px;
  background-color: var(--topic-color);
}

.servicesSection {
  background-image: url(/public/Images/big-triangle-bg-right.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.HowToUse {
  background-image: url(/public/Images/background-HowToUse.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: block;
  padding: 4rem 0;
}

@media screen and (min-width: 900px) {
  /* .HowToUseDetails::after {
    content: url(/public/Images/HowToUse/flash.svg);
    position: absolute;
    left: 103px;
  } */
}

.customLine {
  position: absolute;
  width: 20px;
  height: 5px;
  right: -23px;
  transform: translateY(15px);
  border-radius: 1rem;
}
.heartChart {
  background-image: url(/public/Images/chart/batProgress.jpg);
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  max-width: 700px;
  margin: 0  auto;
}
@media screen   and   (max-width: 1000px) {
  .heartChart {
    margin: 0 2rem;
  }
}
.appContent {
  background-image: url(/public/Images/Android/bg-Phone.png);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.borderDocs {
  border: 1px solid #ccc;
}
.activeDoc:hover {
  transform: translateY(-10px);
  border: 1px solid #000;
  transition: all 0.25s ease;
}
.cover-bg-after::after {
  content: "";
  background-image: url(/public/Images/consltants/bgConsltant.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 300px;
  top: -33px; /* تنظیم موقعیت */
  right: -31px; /* تنظیم موقعیت */
  z-index: -1; /* در پشت تصویر قرار بگیرد */
}
/* .sliderBox {
  max-width: 200px;
} */
