@import url(./font.css);
@import url(./reset.css);
@import url(./variable.css);
@import url(./customeStyles.css);
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

* ,  body {
  font-family: AzarMehr  ;
  direction: rtl;
  outline: 0;
  transition: all;
  border: 0;
}
*::selection {
  background-color: #FFA500 !important;
  color: var(--secondary-color);
}
.number  {
  font-family:AzarMehrDigit ;
}

/* https://demo.gostaranweb.com/Cryptoland/ */