:root {
  --primary-color: #8761a8;
  --secondary-color: #ffffff;
  --title-color: #51475a;
  --text-color: #808080;
  --topic-color: #f09791;
  --base-gradient-color: linear-gradient(to right, #8761a8, #f4929b);
}
